@{
	Layout = null;
}
@model User
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AdminLTE 3 | Log in</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
	<style>
		body {
			margin-bottom: 60px;
			background-color: #12161d!important;
			color: #fff;
			overflow: hidden;
		}

		.login-card-body {
			background-color: #222b33!important;
		}
		.btn 
		{
			background-color: rgb(101, 218, 65)!important;
			color: #12161d !important;
		}
	</style>
</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="../../index2.html"><b>Login</b></a>
		</div>

		 
		<div class="card">
			<div asp-validation-summary="All" class="card-body login-card-body">
				<p class="login-box-msg">Sign in to start your session</p>
				<form asp-controller="Auth" asp-action="Login"  method="post">
					<div class="input-group mb-3">
						<input asp-for="Email" type="email" name="Email" class="form-control" placeholder="Email">
						
					</div>
					<span class="text-danger" asp-validation-for="Email"></span>
					<div class="input-group mb-3">
						<input asp-for="Password" type="password" name="Password" class="form-control" placeholder="Password">
						
					</div>
					<span class="text-danger" asp-validation-for="Password"></span>
					
					<div class="row">
						

						<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block">Sign In</button>
						</div>

					</div>
				</form>
				

		</div>
	</div>

</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</html>
